html {
    color: #323232;
    font-size: 62.5%;
    font-family: Lucida, "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , serif;
    line-height: 1;
    font-feature-settings: "palt" 1;
}

img {
    max-width: 100%;
    height: auto;
}

* {
  box-sizing: border-box;
}
